/* CSS - Foo Fighters Hotsite
 * Developed by Carlos Henrique Motta and Mariana Marques; 
 * Design: Mariana Marques;
 * Coding: Carlos Henrique Motta;
 *
 * Decebember 2015
 *
*/

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
	background-color: #0F0F0F;
	width: 100%;
	background: url(../img/bkg-gen.png);
}

/* GERAL */
.container {
	height: 700px; 
	-webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}


/* INICIO */

#inicio {
	background: url("../img/bkg1-hd-jpg.jpg") center center fixed #0F0F0F;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}

.header {
	height: 100px;
    left: 25px;
    margin: 0 auto;
    padding-top: 20px;
    position: fixed;
    width: 95%;
    z-index: 50;
}

.logo {
	width: auto;
	float: left;
}

.header .logo img {
	width: 144px;
	height: 139px;
}

.menu-container {
	float: left;
    margin: 28px 0 0 60px;
    width: auto;
}

.menu-container ul li {
	float: left;
	list-style: none;
}

.menu-container ul li a {
	color: #fff;
    display: block;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -1px;
    margin: 0 20px;
    padding: 10px 5px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all 0.05s;
    -moz-transition: all 0.05s;
    -ms-transition: all 0.05s;
    -o-transition: all 0.05s;
    transition: all 0.05s;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.3);
    -webkit-user-select: none;  
	-moz-user-select: none;     
	-ms-user-select: none;      
	user-select: none; 
}

.menu-container ul li a:hover {     
	border-bottom: 4px solid #d73837;
	-moz-box-shadow: 0px 2px 0px #1cb1b1;      
	-webkit-box-shadow: 0px 2px 0px #1cb1b1;     
	box-shadow: 0px 1px 0px #1cb1b1;
}

.search-container {
	float: right;
    margin: 40px 0 0;
}

#search {
    border: medium none;
    color: #fff;
    height: 22px;
    padding: 4px;
    width: 200px;
    background: url("../img/search-icon.png") 175px 0px no-repeat #262626;
}

#hamburger-menu {
	display: none;
}

.brand-title img {
	display: block;
	margin: auto;
	width: 100%;
	height: auto;
	max-width: 800px;
	position: relative;
	bottom: 0;
	z-index: 10;
	top: 375px;
}

.copyright {
	bottom: 0;
    height: 50px;
    position: absolute;
    right: 10px;
    width: 300px;
    z-index: 1;
}

.copyright p {
	font-size: 10px;
	color: #333333;
	text-align: right;
}

/* REGULAMENTO */
#regulamento {
	color: #000;
    font-size: 15px;
    height: auto;
    margin-bottom: 30px;
    padding-top: 170px;
}

#regulamento nav {
	background-color: #fff;
    border-radius: 5px;
    height: 80%;
    margin: 10px auto 0;
    width: 90%;
}

#regulamento nav h1, #regulamento nav h2 {
	font-size: 18px;
	font-weight: bold;
}

#regulamento nav h1 {padding: 20px 15px 15px;}

#regulamento nav h2 {padding: 5px 15px;}

#regulamento nav p {padding: 1px 15px;}

#regulamento nav p:last-child { padding-bottom: 20px}

/* PREMIAÇÃO*/
#premiacao {
	padding-top: 180px;
}

#premiacao div {
	margin: auto;
}

#premiacao img {
	display: block;
	margin: auto;
	width: 100%;
	height: auto;
	max-width: 900px;
}

#scroll-top {
	display: block;
	width: 35px;
	height: 35px;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
    border-radius: 3px;
    background: #262626;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.5);
    color: #777;
    font-size: 20px;
    transition: color linear 0.15s;
    border: none;
    cursor: pointer;
    background: url(../img/up-arrow.png) no-repeat 0 0;
    position: fixed;
    left: 10px;
    bottom: 0;
}

.dialog {
	font-size: 14px;
    width: 55px;
    height: 20px;
    position: fixed;
    bottom: 41px;
    color: #FFF;
    background: #7E1213;
    padding: 4px 3px;
    opacity: 0.2;
    cursor: pointer;
    left: 5px;
    z-index: 888;
}

.dialog:hover {
	opacity: 1;
	-webkit-transition: all 0.05s;
    -moz-transition: all 0.05s;
    -ms-transition: all 0.05s;
    -o-transition: all 0.05s;
    transition: all 0.05s;
}

#covers {
	color: #fff;
    padding-top: 180px;
}

.video-container {
	margin: 20px auto;
    width: 80%;
}

#covers div span {
	float: left;
   	padding: 15px 30px;
}

#covers div span img {
	clear: left;
	cursor: pointer;
}

#covers div span div {
	clear: both;
    display: block;
}

#covers div span p { 
	float: left; 
    font-size: 12px;
    font-weight: bold;
}

p.like, p.dislike {
	padding: 0 5px 0 15px;
	background: url(../img/like-dislike.png) 0 0 no-repeat transparent;
}

p.vid-title { width: 135px;}

p.like { 
	color: #2571B5;
	background-position: 3px 3px;
}

p.dislike {
	color: #C91C16;
	background-position: 3px -11px;
}


/* Making layout responsive */
@media all and (max-width: 1270px) {
	.menu-container {
		margin-top: 30px;
	}

	.menu-container ul li a {
		font-size: 20px;
	}
}

@media all and (max-width: 1220px) {
	.menu-container {
		margin-left: 50px;
	}

	.menu-container ul li a {
		font-size: 18px;
		margin: 0 15px;
	}
}

@media all and (max-width: 1070px) {
	.menu-container {
		margin-top: 31px;
		margin-left: 30px;
	}

	.menu-container ul li a {
		font-size: 16px;
	}

}

@media all and (max-width: 1035px) {
	.menu-container {
		margin-left: 10px;
	}

	#search {
		width: 170px;
		background-position: 145px 0;
	}
}

@media all and (max-width: 990px) {
	#search {
		width: 120px;
		background-position: 95px 0;
	}
}

@media all and (max-width: 940px) {
	.header {
		height: 95px;
		position: fixed;
	}

	#search {
		display: none;
	}

	#hamburger-menu {
		display: block;
	    padding: 20px;
	    float: right;
	    box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
	    border-radius: 3px;
	    background: #303030;
	    text-shadow: 0px 1px 0px rgba(0,0,0,0.5);
	    color: #777;
	    font-size: 20px;
	    transition: color linear 0.15s;
	    border: none;
	    cursor: pointer;
	    position: relative;
	    top: 40px;
	    text-decoration: none;
	    right: 20px;
	    z-index: 9999;
	}

	#hamburger-menu:hover, #hamburger-menu.active {
		/*color:#66a992;*/
		color: #1cb1b1;
		background-color: #434343;
	}

	.menu-container {
	    display: block;
	    float: right;
	    left: 40px;
	    margin-top: 0;
	    position: relative;
	    top: 115px;
	    width: 170px;
	    z-index: 9999;
	}

	.menu-container ul.active {
        display:none;
    }

	.menu-container ul {
        box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
	    border-radius: 3px;
	    background: #303030;
	    padding: 10px 0px;
	    width: 100%;
	    height: 240px;
	    z-index: 99999;
	}

	.menu-container ul:after {  
		width: 0px;
	    height: 0px;
	    position: absolute;
	    top: 0%;
	    right: 22px;     
        content: '';
        transform: translate(0%, -100%);
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #303030;
    }

    .menu-container ul li a {
		margin: 0 20px;
	}

}


@media screen and (max-width: 419px) {
	.menu-container {
		left: -20px;
		top: 48px;
	}
}

@media screen and (max-width: 341px) {
	.menu-container {
		top: -30px;
	}
}

