/* CSS - Foo Fighters Hotsite
 * Developed by Carlos Henrique Motta and Mariana Marques; 
 * Design: Mariana Marques;
 * Coding: Carlos Henrique Motta;
 *
 * Decebember 2015
 *
*/

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
	background-color: #000;
}

.container {

}

.header {
	margin: 15px auto;
	width: 95%;
	height: 235px;
}

.logo {
	width: auto;
	float: left;
}

.header .logo img {
	width: 144px;
	height: 139px;
}

.menu-container {
	float: left;
    margin: 28px 0 0 60px;
    width: auto;
}

.menu-container ol li {
	float: left;

}

.menu-container ol li a {
	color: #fff;
    display: block;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -1px;
    margin: 0 20px;
    padding: 10px 5px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all 0.05s;
    -moz-transition: all 0.05s;
    -ms-transition: all 0.05s;
    -o-transition: all 0.05s;
    transition: all 0.05s;
}

.menu-container ol li a:hover {     
	border-bottom: 4px solid #d73837;
	-moz-box-shadow: 0px 2px 0px #1cb1b1;      
	-webkit-box-shadow: 0px 2px 0px #1cb1b1;     
	box-shadow: 0px 1px 0px #1cb1b1;
}

.search-container {
	float: right;
    margin: 40px 0 0;
}

#search {
    border: medium none;
    color: #fff;
    height: 22px;
    padding: 4px;
    width: 200px;
    background: url("../img/search-icon.png") 175px 0px no-repeat #262626;
}


/* Making layout responsive */
@media all and (max-width: 1270px) {
	.menu-container {
		margin-top: 30px;
	}

	.menu-container ol li a {
		font-size: 20px;
	}
}

@media all and (max-width: 1220px) {
	.menu-container {
		margin-left: 50px;
	}

	.menu-container ol li a {
		font-size: 18px;
		margin: 0 15px;
	}
}

@media all and (max-width: 1070px) {
	.menu-container {
		margin-top: 32px;
		margin-left: 30px;
	}

	.menu-container ol li a {
		font-size: 16px;
	}

}

@media all and (max-width: 1030px) {
	.menu-container {
		margin-left: 10px;
	}

	#search {
		width: 170px;
		background-position: 145px 0;
	}
}

@media all and (max-width: 960px) {
	#search {
		width: 120px;
		background-position: 95px 0;
	}
}

@media all and (max-width: 890px) {
	#search {
		display: none;
	}
}