/* CSS - Foo Fighters Hotsite
 * Developed by Carlos Henrique Motta and Mariana Marques; 
 * Design: Mariana Marques;
 * Coding: Carlos Henrique Motta;
 *
 * Decebember 2015
 *
*/

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
	background-color: #000;
}

.container {

}

.header {
	margin: 15px auto;
	width: 95%;
	height: 235px;
}

.logo {
	width: auto;
	float: left;
}

.header .logo img {
	width: 144px;
	height: 139px;
}

.menu-container {
	float: left;
    margin: 28px 0 0 60px;
    width: auto;
}

.menu-container ul li {
	float: left;
	list-style: none;
}

.menu-container ul li a {
	color: #fff;
    display: block;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -1px;
    margin: 0 20px;
    padding: 10px 5px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all 0.05s;
    -moz-transition: all 0.05s;
    -ms-transition: all 0.05s;
    -o-transition: all 0.05s;
    transition: all 0.05s;
}

.menu-container ul li a:hover {     
	border-bottom: 4px solid #d73837;
	-moz-box-shadow: 0px 2px 0px #1cb1b1;      
	-webkit-box-shadow: 0px 2px 0px #1cb1b1;     
	box-shadow: 0px 1px 0px #1cb1b1;
}

.search-container {
	float: right;
    margin: 40px 0 0;
}

#search {
    border: medium none;
    color: #fff;
    height: 22px;
    padding: 4px;
    width: 200px;
    background: url("../img/search-icon.png") 175px 0px no-repeat #262626;
}

#hamburger-menu {
	display: none;
}


/* Making layout responsive */
@media all and (max-width: 1270px) {
	.menu-container {
		margin-top: 30px;
	}

	.menu-container ul li a {
		font-size: 20px;
	}
}

@media all and (max-width: 1220px) {
	.menu-container {
		margin-left: 50px;
	}

	.menu-container ul li a {
		font-size: 18px;
		margin: 0 15px;
	}
}

@media all and (max-width: 1070px) {
	.menu-container {
		margin-top: 31px;
		margin-left: 30px;
	}

	.menu-container ul li a {
		font-size: 16px;
	}

}

@media all and (max-width: 1035px) {
	.menu-container {
		margin-left: 10px;
	}

	#search {
		width: 170px;
		background-position: 145px 0;
	}
}

@media all and (max-width: 990px) {
	#search {
		width: 120px;
		background-position: 95px 0;
	}
}

@media all and (max-width: 940px) {
	#search {
		display: none;
	}

	#hamburger-menu {
		display: block;
	    padding: 20px;
	    float: right;
	    box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
	    border-radius: 3px;
	    background: #303030;
	    text-shadow: 0px 1px 0px rgba(0,0,0,0.5);
	    color: #777;
	    font-size: 20px;
	    transition: color linear 0.15s;
	    border: none;
	    cursor: pointer;
	    position: relative;
	    top: 40px;
	    text-decoration: none;
	}

	#hamburger-menu:hover, #hamburger-menu.active {
		/*color:#66a992;*/
		color: #1cb1b1;
		background-color: #434343;
	}

	.menu-container {
	    position: relative;
	    display: block;
	    width: 170px;
	    float: right;
	    top: 122px;
	    margin-top: 0;
	    left: 60px;
	}

	.menu-container ul.active {
        display:none;
    }

	.menu-container ul {
        box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
	    border-radius: 3px;
	    background: #303030;
	    padding: 10px 0px;
	    width: 100%;
	    height: 240px;
	}

	.menu-container ul:after {  
		width: 0px;
	    height: 0px;
	    position: absolute;
	    top: 0%;
	    right: 22px;     
        content: '';
        transform: translate(0%, -100%);
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #303030;
    }

    .menu-container ul li a {
		margin: 0 20px;
	}

}